<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mac.runtu">

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图appkey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tMiS30rywMPVBCPYwFMwgZ7sBuFLcf54" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegistOneActivity" />
        <activity android:name=".activity.RegistTwoActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ForgetOnePwdActivity" />
        <activity android:name=".activity.ForgetTwoPwdActivity" />
        <activity android:name=".activity.PersonalCenterActitity" />
        <activity android:name=".activity.PersonalCenterSettingActivity" />
        <activity
            android:name=".activity.OrderActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.VersionActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.SuggestionActivity" />
        <activity android:name=".activity.OrderPayActivity" />
        <activity android:name=".activity.ManageReceiptAddressActivity" />
        <activity android:name=".activity.AddReceiptAddressActivity" />
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity
            android:name=".activity.BusinessDynamicsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.CirculationOfPropertyRightsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.RuralTourismActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.AttractionDetailsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.PropertyRightsRealse1Activity" />
        <activity android:name=".activity.PropertyRightsRealse2Activity" />
        <activity android:name=".activity.PropertyRightsDetailsActivity" />
        <activity
            android:name=".activity.EntrepreneurshipTrainingActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.LaborServiceCooperationActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.LaborServiceCooperationReleaseActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.LaborServiceCooperationDetailsActivity" />
        <activity android:name=".activity.LaborServiceCooperationMapActivity" />
        <activity android:name=".activity.EpreneurshipTrainingActivity" />
        <activity android:name=".activity.BusinessDynamicsReleaseActivity" />
        <activity android:name=".activity.BusinessDynamicsDetailsActivity" />
        <activity android:name=".activity.BusinessDynamicsMerchantsReleaseActivity" />
        <activity android:name=".activity.BusinessDynamicsHouseHoldRelease1Activity" />
        <activity android:name=".activity.BusinessDynamicsHouseHoldRelease2Activity" />
        <activity
            android:name=".activity.AgriculturalMachineryActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.ExperienceFarmActivity" />
        <activity android:name=".activity.ExperienceFarmSubActivity" />
        <activity android:name=".activity.AdoptExplainActivity" />
        <activity android:name=".activity.ShoppingCartActivity" />
        <activity android:name=".activity.MyAdoptActivity" />
        <activity android:name=".activity.ExperienceFarmAdoptDetails" />
        <activity android:name=".activity.AgriculturalMachineryDetailsActivity" />
        <activity android:name=".activity.AgriculturaMachineryRelease1Activity" />
        <activity android:name=".activity.AgriculturaMachineryRelease2Activity"></activity>
    </application>

</manifest>